#wrapper {
width: 898px;
margin: auto;
height:570px;
}

body{
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); 
font-family : arial;
}

#leftpanel {
float:left;
height:350px;
width: 250px;
border-style:solid;
border-width:medium;
border-color:gray;
padding-right:15px;
padding-left:15px;
background-color:#cdc9c9;
font-weight:bold;
}

#phonenumber{
margin-top:10px;
width : 110px;
}

#msg{
margin-top :10px;
height :200px;
width:240px;
}

#sendsms{
margin-left:80px;
}

#webinput{
margin-top:15px;
width:155px;
}

#urlbutton{
margin-top:5px;
margin-left:80px;
}

#middlepanel {
float:left;
height:350px;
margin-left: 20px;
width: 250px;
border-style:solid;
border-width:medium;
border-color:gray;
padding-right:15px;
padding-left:15px;
background-color:#cdc9c9;
}

#rightpanel {
float:left;
margin-left: 20px;
height:350px;
width: 250px;
border-style:solid;
border-width:medium;
border-color:gray;
overflow:scroll;
padding-right:15px;
padding-left:15px;
background-color:#cdc9c9;
}

#bottompanel {
float:left;
margin-top: 10px;
height:200px;
width: 862px;
border-style:solid;
border-width:medium;
border-color:gray;
padding-right:15px;
padding-left:15px;
background-color:#cdc9c9;
font-weight:bold;
}

.mybutton {
	margin-left:20px;
	margin-bottom :20px;
	margin-top:20px;
	width :100px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:13px 53px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.mybutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.mybutton:active {
	position:relative;
	top:1px;
}

.textmessage p {
max-height :50px;
overflow : hidden;
text-overflow: ellipsis;
}

.clear {
clear:both;
}